amqp==2.4.1
base58==1.0.2
billiard==3.5.0.5
celery==4.2.1
certifi==2018.11.29
chardet==3.0.4
docker==3.5.1
docker-pycreds==0.3.0
duckietown-shell==3.0.30
ecdsa==0.13.3
gitdb2==2.0.5
GitPython==2.1.11
idna==2.8
kombu==4.3.0
neo4j-driver==1.6.2
neomodel==3.3.1
neotime==1.0.0
nltk==3.4.5
oauthlib==3.0.1
psutil==5.6.6
PyJWT==2.4.0
PySocks==1.6.8
python-http-client==3.1.0
pytz==2018.9
requests==2.21.0
requests-oauthlib==1.2.0
sendgrid==5.6.0
singledispatch==3.4.0.3
six==1.12.0
smmap2==2.0.5
termcolor==1.1.0
textblob==0.15.3
texttable==1.5.0
tweepy==3.7.0
twilio==6.24.1
urllib3==1.24.2
vine==1.2.0
websocket-client==0.54.0
whichcraft==0.5.2
